{% extends 'index_admin.html' %}
{% block body %}
<body>
<h5>ADMIN HOME</h5>
<form action="" method="post">
    <table border="0">
        <tr>
            <td><a href="/containment_zone" >Containment Zone</a></td>
        </tr>
        <tr>
            <td><a href="/feedback" >Feedback</a></td>
        </tr>
        <tr>
            <td><a href="/user_view" >View User</a></td>
        </tr>
        <tr>
            <td><a href="/add_news" >Add news</a></td>
        </tr>
        <tr>
            <td><a href="/rootmap" >Rootmap</a></td>
        </tr>
        <tr>
            <td><a href="/" >Logout</a></td>
        </tr>
    </table>
</form>
</body>
{% endblock %}