<!DOCTYPE HTML>
<!--
	Hielo by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Social distancing app</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../static/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="index.html">e dist<span> a social distancing application</span></a></div>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/user_view#one">View user</a></li>
					<li><a href="/view_news#one" >News</a></li>
					<li><a href="/view_containment_zone#one" >Containment Zone</a></li>
					<li><a href="/feedback#one">feedback {% if session["c"]!="0" %} ({{session["c"]}}) {% endif %}</a></li>
					<li><a href="/view_rootmap#one" >Rootmap</a></li>
					<li><a href="/" >Logout</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section class="banner full">
				<article>
					<img src="../static/images/slide01.jpg" alt="" />
					<div class="inner">
						<header>
							<p>EDIST</p>
							<h2>social distance</h2>
						</header>
					</div>
				</article>
				<article>
					<img src="../static/images/slide02.jpg" alt="" />
					<div class="inner">
						<header>
							<p>EDIST</p>
							<h2>routemap</h2>
						</header>
					</div>
				</article>
				<article>
					<img src="../static/images/slide03.jpg"  alt="" />
					<div class="inner">
						<header>
							<p>EDIST</p>
							<h2>containment zones</h2>
						</header>
					</div>
				</article>
				<article>
					<img src="../static/images/slide04.jpg"  alt="" />
					<div class="inner">
						<header>
							<p>EDIST</p>
							<h2>current news</h2>
						</header>
					</div>
				</article>
				<article>
					<img src="../static/images/slide05.jpg"  alt="" />
					<div class="inner">
						<header>
							<p>EDIST</p>
							<h2>healthy life</h2>
						</header>
					</div>
				</article>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style2">
				<div class="inner">
					{% block body%}

					{% endblock %}
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
				</div>
				<div class="copyright">
					&copy; Edist. All rights reserved.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="../static/js/jquery.min.js"></script>
			<script src="../static/js/jquery.scrollex.min.js"></script>
			<script src="../static/js/skel.min.js"></script>
			<script src="../static/js/util.js"></script>
			<script src="../static/js/main.js"></script>

	</body>
</html>